.wrapper {
	overflow: auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	table {
		border-collapse: collapse;
	}
	td {
		border: 1px solid #aaa;
		width: 32px;
		height: 32px;
		padding: 0;

		&.pond {
			background: #002635;
		}

		&.wallA {
			background: #c7e4ff;
		}

		&.wallB {
			background: #ffcaca;
		}
	}
}

.placeholder {
	width: 32px;
	height: 32px;
}
