@import '../../global.scss';

$cell-width: 32px;
$cell-height: 32px;
$background-color: #6ec5ff;
$cell-border-color: #ffffff50;
$inner-border-color: #001eb3;

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	table {
		border-collapse: collapse;
		background: $background-color;
	}
	td {
		border: 1px solid $cell-border-color;
		width: $cell-width;
		height: $cell-height;
		padding: 0;
	}
}

.placeholder {
	width: $cell-width;
	height: $cell-height;
}

.inner {
	position: relative;
	border: 2px solid $inner-border-color;
	padding: -2px;
}

.craftsmen {
	position: absolute;
	left: 0;
	top: 0;
	transition: 0.4s ease;
}

.position {
	position: absolute;
	left: 0;
	top: 0;
	width: $cell-width;
	height: $cell-height;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
}

.pond {
	background: #9e1d14;
	box-shadow:
		inset 0 5px 2px #350b00,
		0px 0 2px #fff;
	border-radius: 5px;
	border: 2px solid #ffffff90;

	animation: pond-animate 2s infinite alternate;
}

.wall {
	border: 1px solid #fff;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: 0 5px #001b6d;
	transform: translateY(-5px);
	position: relative;

	&.A {
		background: #2b608f;
	}
	&.B {
		background: #43a74b;
		box-shadow: 0 5px #015e1b;
	}
}

.side {
	&.A {
		background: #07004440;
	}
	&.B {
		background: #00a00d90;
	}
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.actionTooltip {
	position: absolute;
	top: -100%;
	left: 0;
	background: #fff;
	z-index: 99;
	display: flex;
	gap: 5px;
	border-width: 2px;
	border-style: solid;
	align-items: center;
	font-weight: bold;
	box-shadow: 10px 10px 10px #00000040;
	opacity: 0;
	transition: 0.4s ease;
	transform: scale(0);
	transform-origin: bottom left;
	border-color: #fff;
	font-size: small;

	& > span {
		padding-right: 5px;
	}

	&.A {
		& > div {
			background: #020061;
		}
	}
	&.B {
		& > div {
			background: #096e00;
		}
	}

	& > div {
		width: 24px;
		aspect-ratio: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
	}

	&.show {
		opacity: 1;
		transform: scale(1);
	}
}
