.wrapper {
	border-collapse: collapse;
	td {
		border: 1px solid #aaa;
		width: 32px;
		height: 32px;
		padding: 0;

		&.pond {
			background: #002635;
		}

		&.wallA {
			background: #9696ff;
		}

		&.wallB {
			background: #ffa2a2;
		}
	}
}
