.wrapper {
	position: relative;
	width: 32px;
	aspect-ratio: 1;
	border-radius: 32px;

	img {
		filter: drop-shadow(0 0 1px #fff);
		animation: animate 3s ease alternate infinite;
	}
}

.id {
	color: #fff;
	padding: 2px 4px;
	position: absolute;
	top: 0;
	left: 100%;
	border-radius: 2px;
	font-size: 10px;
	border: 1px solid #fff;
}

@keyframes animate {
	0%,
	100% {
		transform: translateY(-40%) scale(1.5);
	}
	50% {
		transform: translateY(-20%) scale(1.2);
	}
}
