@import '../../global.scss';

.scores {
	margin: 10px;
	display: flex;

	.side {
		border: 2px solid $color-a;
		flex: 1;

		.heading {
			background: $color-a;
			color: #fff;
			text-align: center;
			padding: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.content {
			.total {
				font-size: xx-large;
				text-align: center;
				font-weight: 900;
				color: $color-a;
				border-bottom: 2px solid $color-a;
			}
		}

		&.A {
			border-color: $color-a;
			.heading {
				background: $color-a;
			}

			.content {
				.total {
					border-color: $color-a;
					color: $color-a;
				}
			}
		}

		&.B {
			border-color: $color-b;
			.heading {
				background: $color-b;
			}

			.content {
				.total {
					border-color: $color-b;
					color: $color-b;
				}
			}
		}
	}
}
