.wrapper {
	display: flex;
	flex-direction: column-reverse;
}

.title {
	font-weight: 700;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	background: #fff;
	z-index: 100;
	display: flex;
	height: 64px;
	align-items: center;
	position: sticky;
	top: 64px;

	span {
		flex: 1;
	}
}

$color-a: #06619e;
$color-b: #009c15;

.item {
	display: flex;
	align-items: start;
	position: relative;

	& + & {
		margin-top: 20px;
	}

	&.A {
		color: $color-a;
		.turn {
			background: $color-a;
		}
	}
	&.B {
		color: $color-b;
		.turn {
			background: $color-b;
		}
	}
	&.disabled {
		opacity: 0.2;
		margin-top: 0;

		.left {
			visibility: hidden;
		}

		.content {
			border-top: none;
		}
	}

	.left {
		position: sticky;
		top: 128px;

		.turn {
			display: flex;
			width: 48px;
			aspect-ratio: 1;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			color: #fff;
		}
	}
	.content {
		flex: 1;
		border: 2px solid currentColor;
	}
}
