$color-a: #06619e;
$color-b: #009c15;

.gameBoard {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	flex-direction: column;
	border: 1px solid #ddd;
	margin: 16px;
	min-height: 80vh;
	height: fit-content;
	background: #fafafa;
	position: sticky;
	top: 80px;
	border-radius: 10px;
	overflow: hidden;

	&.isFullScreen {
		height: calc(100vh - 104px);
	}
}

.inner {
	transition: 0.4s ease;
}

.zoomActions {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}

.fullScreenButton {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.scores {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: #fff;
	margin: 10px;

	.side {
		border: 2px solid $color-a;
		width: 180px;

		.heading {
			background: $color-a;
			color: #fff;
			text-align: center;
			padding: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.content {
			.total {
				font-size: xx-large;
				text-align: center;
				font-weight: 900;
				color: $color-a;
				border-bottom: 2px solid $color-a;
			}
		}

		&.A {
			border-color: $color-a;
			.heading {
				background: $color-a;
			}

			.content {
				.total {
					border-color: $color-a;
					color: $color-a;
				}
			}
		}

		&.B {
			border-color: $color-b;
			.heading {
				background: $color-b;
			}

			.content {
				.total {
					border-color: $color-b;
					color: $color-b;
				}
			}
		}
	}
}
